{{ 'collection-tabs.css' | asset_url | stylesheet_tag }}
<script src="{{ 'collection-list.js' | asset_url }}" defer="defer"></script>

<div class="page-width">
  <h1 class="title title--primary inline-richtext">
    {{ section.settings.title }}
  </h1>
  <collection-tabs>
    <div class="tabs-desktop-wrapper">
      <ul class="tabs-desktop">
        {% for block in section.blocks %}
          {% for collection in block.settings.collections %}
            <li class="collection_list" data-collection-url="{{ collection.url }}">
              <h1 class="collection_titles">
                {{ collection.title }}
              </h1>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <div class="tabs-mobile-wrapper">
      <select class="tabs-mobile">
        {% for block in section.blocks %}
          {% for collection in block.settings.collections %}
            <option value="{{ collection.url }}" data-collection-url="{{ collection.url }}">
              {{ collection.title }}
            </option>
          {% endfor %}
        {% endfor %}
      </select>
    </div>
  </collection-tabs>
</div>

{% schema %}
{
  "name": "Collection Tabs",
  "tag": "section",
  "class": "collection_tabs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collections Tab Title",
      "default": "Collections"
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "name": "Collection Tabs",
      "type": "collection_tabs",
      "settings": [
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collections",
          "limit": 5
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Collections Tabs"
    }
  }
}
{% endschema %}
