{{ 'collection-tabs.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <h1 class="title title--primary inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ section.settings.title }}
  </h1>
  <ul class="tabs-desktop">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'collection_tabs' %}
          {% for collection in block.settings.collections %}
            <li class="collection_list">
              {% comment %} <a href="/{{ collection.id }}"> {% endcomment %}
              <h1 class="collection_titles">
                {{ collection.title }}
              </h1>
              {% comment %} </a> {% endcomment %}
            </li>
          {% endfor %}
      {% endcase %}
    {% endfor %}
  </ul>
  <select class="tabs-mobile">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'collection_tabs' %}
          {% for collection in block.settings.collections %}
            <option value="#{{ collection.id }}">{{ collection.title }}</option>
          {% endfor %}
      {% endcase %}
    {% endfor %}
  </select>
</div>

{% schema %}
{
  "name": "Collection Tabs",
  "tag": "section",
  "class": "collection_tabs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collections Tab Title",
      "default": "Collections"
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "name": "Collection Tabs",
      "type": "collection_tabs",
      "settings": [
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collections",
          "limit": 5
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Collections Tabs"
    }
  }
}
{% endschema %}
