{{ 'collection-tabs.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <section class="description">
    {{ collection.description }}
  </section>
  <div class="retrieved" data-section-id="retrieved-section" data-section-type="section-type">
    {% for product in collection.products %}
      <div class="each-product">
        <h1>{{ product.title }}</h1>
        {% if product.featured_image %}
          <img loading="eager" srcset=" {{ product.featured_image | image_url: width: 300 }} ">
        {% endif %}
        <p>{{ product.price | money }}</p>
      </div>
    {% endfor %}
  </div>
</div>
